<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>Employee Management System</title>

    <!-- Bootstrap imported -->
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
</head>

<body>
<!-- NavBar (Completed) -->
<nav class="navbar navbar-expand-md navbar-light">
    <div class="container">
        <a class="navbar-brand" href="#" th:href="@{/}">
            <img th:src="@{/logo.png}" alt="company-logo"
                 class="d-inline-block align-top" width="30" height="30"/> Employee Management System</a>
        <!--Logout href (Defined action in SecurityConfiguration)-->
        <a type="button" class="btn btn-danger" sec:authorize="isAuthenticated()" th:href="@{/logout}">Logout</a>
    </div>
</nav>

<div class="container my-2">
    <h1>Employees List</h1>

    <!-- "Welcome User", with dependency(thymeleaf-extras-springsecurity5) -->
    <div class="alert alert-success">Welcome <span sec:authentication="principal.username">User</span></div>
    <!-- Go to showNewEmployeeForm -->
    <a th:href="@{/showNewEmployeeForm}" class="btn btn-primary btn-sm mb-3"> Add Employee</a>

    <!-- Employees Table-->
    <table border="1" class="table tale table-striped table-responsive-md">
        <thead>
        <tr> <!-- 1st Row (First Name, Last Name, Email, Actions)-->
            <!-- Hidden hyperlinks, for toggle action, when clicking, sorting in asc/desc direction-->
            <th><a th:href="@{'/page/' + ${currentPage} + '?sortField=firstName&sortDir=' + ${reverseSortDir}}">
                Employee First Name</a></th>
            <th><a th:href="@{'/page/' + ${currentPage} + '?sortField=lastName&sortDir=' + ${reverseSortDir}}">
                Employee Last Name</a></th>
            <th><a th:href="@{'/page/' + ${currentPage} + '?sortField=email&sortDir=' + ${reverseSortDir}}">
                Employee Email</a></th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody> <!-- Each Table Row Content -->
        <tr th:each="employee : ${listEmployees}"> <!-- Iterating employees with listEmployees(Controller Class) -->
            <td th:text="${employee.firstName}"></td>
            <td th:text="${employee.lastName}"></td>
            <td th:text="${employee.email}"></td>
            <!-- Update/Delete Button  -->
            <!-- Binding employee id to thymeleaf, for employee actions -->
            <td><a th:href="@{/showFormForUpdate/{id}(id=${employee.id})}" class="btn btn-primary">Update</a>
                <a th:href="@{/deleteEmployee/{id}(id=${employee.id})}" class="btn btn-danger">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>

    <!-- Pagination (Pagination only appears if totalPages != 0)-->
    <nav aria-label="Page Navigation" class="display-inline" th:if="${totalPages != 0}">
        <ul class="pagination justify-content-center">
            <!-- Previous -->
            <li th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
                <a class="page-link"
                   th:href="@{'/page/' + ${currentPage - 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Previous
                </a>
            </li>
            <!-- Show all pages -->
            <!-- Must configure, User chooses number of page items(EmployeeController/findPaginated/pageSize -> Configure in UI a @PathVariable) -->
            <li th:each="i : ${#numbers.sequence(1, totalPages)}"
                th:class="${currentPage != i ? 'page-item' : 'page-item active'}">
                <a class="page-link"
                   th:href="@{'/page/' + ${i} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">[[${i}]]</a>
            </li>
            <!-- Next -->
            <li th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'}">
                <a class="page-link"
                   th:href="@{'/page/' + ${currentPage + 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Next</a>
            </li>
        </ul>
    </nav>

</div>
</body>

</html>