<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Employee Management System - New Employee</title>

    <!-- Bootstrap imported -->
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
</head>
<body>
<!-- NavBar (Completed) -->
<nav class="navbar navbar-expand-md navbar-light">
    <div class="container">
        <a class="navbar-brand" href="#" th:href="@{/}">
            <img th:src="@{/logo.png}" alt="company-logo"
                 class="d-inline-block align-top" width="30" height="30"/> Employee Management System</a>
        <!--Logout href (Defined action in SecurityConfiguration)-->
        <a type="button" class="btn btn-danger" sec:authorize="isAuthenticated()" th:href="@{/logout}">Logout</a>
    </div>
</nav>

<div class="container">
    <hr>
    <h2>New Employee</h2>

    <form action="#" th:action="@{/saveEmployee}" th:object="${employee}" method="POST">
        <!-- Text insert will be first name-->
        <input type="text" th:field="*{firstName}"
               placeholder="First Name" class="form-control mb-4 col-12 col-md-6 col-lg-5 col-xl-4">
        <!-- Text insert will be last name-->
        <input type="text" th:field="*{lastName}"
               placeholder="Last Name" class="form-control mb-4 col-12 col-md-6 col-lg-5 col-xl-4">
        <!-- Text insert will be email-->
        <input type="text" th:field="*{email}"
               placeholder="Email" class="form-control mb-4 col-12 col-md-6 col-lg-5 col-xl-4">
        <!-- Submit button -->
        <button type="submit" class="btn btn-info col-12 col-md-4 col-lg-3 col-xl-2"> Save Employee</button>
    </form>
    <hr>
    <a th:href="@{/}">Back to Employee List</a>
</div>
</body>
</html>